extends layout.pug

mixin getCustomers(customer)
    ul
        each customer in custs
            li

block content
    body
        .card.row.mx-auto.cardopacity.my-5(style="width: 30rem")
            .card-header.text-center
                h3
                    b Customer Check / Add
            ul.col-6.mx-auto.text-center
                form.form(action='/check', method='post')
                    label.my-2.text-black(for='billing_name')
                        b Billing Name
                        input#billing_name(type='text', name='billing_name', placeholder="Billing Name" oninput="this.value = this.value.trim().toLowerCase()")

                    label.text-black(for='shipping_name')
                        b Shipping Name
                        input#shipping_name(type='text', name='shipping_name', placeholder="Shipping Name" oninput="this.value = this.value.trim().toLowerCase()")

                    label.my-2.text-black(for='billing_address')
                        b Billing Address
                        input#billing_address(type='text', name='billing_address', placeholder="Billing Address" oninput="this.value = this.value.trim().toLowerCase()")

                    label.my-2.text-black(for='shipping_address')
                        b Shipping Address
                        input#shipping_address(type='text', name='shipping_address', placeholder="Shipping Address" oninput="this.value = this.value.trim().toLowerCase()")

                    label.my-2.text-black(for='email')
                        b Email
                        input#email(type='text', name='email', placeholder="example@example.com" oninput="this.value = this.value.trim().toLowerCase()")

                    label.my-2.text-black(for='phone_number')
                        b Phone Number
                        input#phone_number(type='text', name='phone_number', placeholder="123456789" oninput="this.value = this.value.trim()")

                    label.my-2.text-black(for='username')
                        b Username
                        input#username(type='text', name='username', placeholder="@user" oninput="this.value = this.value.trim().toLowerCase()")
                    br
                    button.btn.btn-outline-success.my-2(type='submit', value ="upload")
                        b Check Data
                    br
                    a.btn.btn.btn-outline-primary.my-2(href="/uploadinfo")
                        b Upload Csv
                    br
                    a.btn.btn.btn-outline-danger.my-2(href="/")
                        b Home
                    if message
                        div.alert.alert-success
                            p= message
