extends layout.pug

block content
    body
        .row--bs-dark
            .col.text-center
                br
                a.btn.btn.btn-outline-success.my-2(href="/uploadinfo")
                    b Upload Csv

                br
                a.btn.btn.btn-outline-danger.my-2(href="/view")
                    b View All Customers

                br
                a.btn.btn.btn-outline-primary.my-2(href="/check")
                    b Check if Customer Exists





