extends layout.pug

mixin getCustomers(customer)
    ul
        each customer in customers
            li

block content
    body
        .container
            h1 
                b Customer List
            a.btn.btn.btn-outline-primary(href='/').justify-content-end
                b Home
            .col-lg-3.mx-auto
                form#searchform(role="search")
                    input#searchinput.rounded.col-12.my-2(type="search", placeholder="Search", aria-label="Search")
            .row
                #customercard-container
                template#customercard-template
                    .card#customercard-container
                        .card-title#customercardtitle.text-center
                        .card-text#customercardtext.text-center
                #visiblecustomercards-container



            a.btn.btn.btn-outline-primary(href='/')
                b Home
            script.
                document.addEventListener('DOMContentLoaded', function() {
                    const template = document.querySelector('#customercard-template');
                    const card = template.content.querySelector('#customercard');
                    const cardTitle = template.content.querySelector('#customercardtitle');
                    const cardText = template.content.querySelector('#customercardtext');
                });


