extends layout.pug

mixin getCustomers(customer)
    ul
        each customer in customers
            li

block content
    body
        .container
            h1 
                b Customer List
            a.btn.btn.btn-outline-primary(href='/').justify-content-end
                b Home
            .card.mx-auto.cardopacity.my-3(style="width: 40rem")
                .card-header.text-center
                    h3
                        b Customer Add
                ul.col-lg-4.mx-auto.text-center
                    form#customerform.form(action='/view', method='post')
                        label.my-2.text-black(for='billing_name')
                            b Billing Name
                            input#billing_name(type='text', name='billing_name', placeholder="Billing Name" oninput="this.value.toLowerCase()")

                        label.text-black(for='shipping_name')
                            b Shipping Name
                            input#shipping_name(type='text', name='shipping_name', placeholder="Shipping Name" oninput="this.value.toLowerCase()")

                        label.my-2.text-black(for='billing_address')
                            b Billing Address
                            input#billing_address(type='text', name='billing_address', placeholder="Billing Address" oninput="this.value.toLowerCase()")

                        label.my-2.text-black(for='shipping_address')
                            b Shipping Address
                            input#shipping_address(type='text', name='shipping_address', placeholder="Shipping Address" oninput="this.value.toLowerCase()")

                        label.my-2.text-black(for='email')
                            b Email
                            input#email(type='text', name='email', placeholder="example@example.com" oninput="this.value = this.value.trim().toLowerCase()")

                        label.my-2.text-black(for='phone_number')
                            b Phone Number
                            input#phone_number(type='text', name='phone_number', placeholder="123456789" oninput="this.value = this.value.trim()")

                        label.my-2.text-black(for='username')
                            b Username
                            input#username(type='text', name='username', placeholder="@user" oninput="this.value.toLowerCase()")
                        br
                        button.btn.btn-outline-success.my-2(type='submit', value ="upload")
                            b Add Customer
                        br
                        a.btn.btn.btn-outline-primary.my-2(href="/uploadinfo")
                            b Upload Csv
                        br
                        if message
                            div.alert.alert-success
                                p= message

            .row
                #customercard-container
                template#customercard-template
                    .card#customercard-container
                        .card-title#customercardtitle.text-center
                        .card-text#customercardtext.text-center
                #visiblecustomercards-container



            a.btn.btn.btn-outline-primary(href='/')
                b Home
            script.
                document.addEventListener('DOMContentLoaded', function() {
                    const template = document.querySelector('#customercard-template');
                    const card = template.content.querySelector('#customercard');
                    const cardTitle = template.content.querySelector('#customercardtitle');
                    const cardText = template.content.querySelector('#customercardtext');
                });


